.button {
    border: none;
    color: white;
    background: blueviolet;
    height: 48px;
    width: 80px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5px 0.5px;
    border-radius: 10%;
    cursor: pointer;
}

button:active{
    background-color: crimson;
}

.p{
  font-size: 30px;
}

p{
  font-size: 5px;
}



